{% extends 'base.html' %} 
{% load static %} 

{% block styles %}
<style>
    .form input[type="text"], .form input[type="number"], .form textarea, .form select {
        background-color: #334155;
        border: solid 1px rgb(203 213 225);
        color: #fff; /* White text color */
        padding: 0.75em 1em;
        border-radius: 0.5em;
    }

    .form p {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        font-weight: bold;
    }
</style>
{% endblock styles %}

{% block content %}

<div aria-live="polite" id = "toast-placement" aria-atomic="true" style="position: relative" class="font-bold z-[50]"></div>

<h1> {{notes.description}} </h1>

<div class="w-full text-right flex justify-end">
    <button type="button" class="bg-orange-500 flex shadow text-white rounded-md text-sm border-y border-transparent py-2 font-bold px-3 hover:bg-orange-600 dark:hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-300 dark:focus:ring-offset-slate-900 dark:focus:ring-orange-700" data-bs-toggle="modal" data-bs-target="#reportModal">Report Notes</button>
</div>

<div class = "w-full text-right flex justify-end">
  <button type="button" class="bg-rose-500 flex shadow text-white rounded-md text-sm border-y border-transparent py-2 font-bold px-3 hover:bg-rose-600 dark:hover:bg-rose-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300 dark:focus:ring-offset-slate-900 dark:focus:ring-green-700" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Notes</button>
</div>
  
<form method="post" onsubmit="return false;" class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalTitle" aria-hidden="true">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-[#272B52]">
        <div class="modal-header border-b-0">
          <h5 class="font-bold" id="exampleModalLongTitle">Report Notes</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body flex flex-col form gap-y-6">
            <p>
                <label for="id_name">Alasan:</label>
                <input type="text" name="alasan" required="">
            </p>
            <input type="hidden" name="notes_id" value="{{notes.id}}">
        </div>
        <div class="modal-footer border-t-0">
          <button type="button" data-bs-dismiss="modal" class="bg-rose-500 flex-auto shadow text-white rounded-md text-sm border-y border-transparent py-2 font-bold px-3 hover:bg-rose-600 dark:hover:bg-rose-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-300 dark:focus:ring-offset-slate-900 dark:focus:ring-rose-700" data-dismiss="modal">Batal</button>
          <button type="submit" data-bs-dismiss="modal" id = "button_report" class="bg-green-500 flex-auto shadow text-white rounded-md text-sm border-y border-transparent py-2 font-bold px-3 hover:bg-green-600 dark:hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300 dark:focus:ring-offset-slate-900 dark:focus:ring-green-700">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form method="post" onsubmit="return false;" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  {% csrf_token %}
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-[#272B52]">
      <div class="modal-header border-b-0">
        <h5 class="font-bold" id="exampleModalLongTitle">Delete Notes</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex flex-col form gap-y-6">
          <p>
              Apakah yakin ingin menghapus Notes?
          </p>
          <input type="hidden" name="notes_id" value="{{notes.id}}">
      </div>
      <div class="modal-footer border-t-0">
        <button type="button" data-bs-dismiss="modal" class="bg-rose-500 flex-auto shadow text-white rounded-md text-sm border-y border-transparent py-2 font-bold px-3 hover:bg-rose-600 dark:hover:bg-rose-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-300 dark:focus:ring-offset-slate-900 dark:focus:ring-rose-700" data-dismiss="modal">Tidak</button>
        <button type="submit" data-bs-dismiss="modal" id = "button_delete" class="bg-green-500 flex-auto shadow text-white rounded-md text-sm border-y border-transparent py-2 font-bold px-3 hover:bg-green-600 dark:hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300 dark:focus:ring-offset-slate-900 dark:focus:ring-green-700">Ya</button>
      </div>
    </div>
  </div>
</div>
</form>

<script>
    function getCookie(c_name){
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    function reportNotes() {
        console.log(new FormData(document.querySelector('#reportModal')))
        fetch(`/report/`, {
            method: "POST",
            body: new FormData(document.querySelector('#reportModal'))
        }).then(res => {
            callToast("Success", "Berhasil mengirim report")
        }).catch((error) => {
            console.log(error)
            callToast("Error", "Sistem gagal menyimpan report")
        })

        document.getElementById("reportModal").reset()
        return false
    }

    document.getElementById("button_report").onclick = reportNotes

    function deleteNotes() {
        formData = new FormData(document.querySelector('#deleteModal'))
        fetch(`/notes/${formData.get('notes_id')}`, {
            method: "DELETE",
            headers: { "X-CSRFToken": getCookie("csrftoken") },
        }).then(res => {
            callToast("Success", "Berhasil menghapus Notes")
            console.log(res)
            var link = document.createElement("a");
            link.href = res.url;
            link.click();
        }).catch((error) => {
            console.log(error)
            callToast("Error", "Sistem gagal menghapus Notes")
        })

        document.getElementById("deleteModal").reset()

        return false
    }

    document.getElementById("button_delete").onclick = deleteNotes

    function generateToast(status, message) {
        const toast = 
        `
            <div class="toast bg-[#272B52] mx-8 z-50" style="position: fixed; top: 60px; right: 0;">
                <div class="toast-header bg-[#272B52] ${status === "Success" ? 'text-green-500' : 'text-rose-500'}">
                    <strong class="mr-auto ${status === "Success" ? 'text-green-500' : 'text-rose-500'} font-bold text-xl">${status}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    ${message}
                </div>
            </div>
        `
        return toast 
    }

    function callToast(status, message) {
        $('.toast').toast('hide')
        document.getElementById("toast-placement").innerHTML = ""
        const toast = generateToast(status, message)
        document.getElementById("toast-placement").innerHTML = toast
        $('.toast').toast('show')
    }
</script>

{% endblock content %}